/* Reset box model */
* {
  box-sizing: border-box;
}

.side a {
  color: white;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #30332E;
  color: white;
}

/* Header/logo Title */
.header {
  padding: 8px;
  text-align: center;
  background: #2E332B;
  color: white;
}

.header h1 {
  font-size: 40px;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: #2E332B;
  position: sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 4px rgba(47, 51, 44, 0.5);
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(47, 51, 44, 0.5);
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #445539;
  color: white;
}

/* Active/current link */
.navbar a.active {
  background-color: #445539;
  color: white;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two unequal columns that sit next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #445539; /* Added background color */
  padding: 20px;
  color: white;
}

/* Main column */
.main {
  flex: 70%;
  background-color: #30332E; /* Added background color */
  padding: 20px;
  color: white;
}

/* Fake image, just for filler */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #2E332B;
  color: white;
}

/* Survival gear categories */
.category-list {
  list-style-type: none;
  padding: 0;
}

.category-list li {
  padding: 8px 0;
}

.category-list li:before {
  content: "⦿"; /* Use a bullet point as a list item marker */
  padding-right: 8px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.main {
  flex: 50%;
  padding: 0 20px;
}

/* Additional styles for tables */
.ballistic-table,
.protection-levels-table,
.six-five-table {
  width: 100%;
  margin-bottom: 20px;
  background-color: #445539; /* Dark green */
  border-radius: 8px;
  padding: 10px;
}

.ballistic-table th,
.ballistic-table td,
.protection-levels-table th,
.protection-levels-table td,
.six-five-table th,
.six-five-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.ballistic-table th,
.protection-levels-table th,
.six-five-table th {
  background-color: #30332E; /* Darker green */
  color: white;
}

/* Additional styles for lists*/
ul {
  margin-top: 17px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 10px;
}

/* CSS for images */
.product-image {
    max-width: 75%; /* Adjust as needed */
    height: auto;
}

.category-link {
    color: #007bff;
    text-decoration: none; /* Remove underline */
}

.category-link:hover {
    text-decoration: underline; /* Add underline on hover */
}


